<div id="body">
<div class="container" >
    <div class="card">
      <h2 class="text-center mb-4">Admin Panel</h2>
      <button routerLink="/addbus" type="button" class="btn btn-primary btn-block btn-custom btn-add-bus">Add Journey</button>
  
      <button type="button" routerLink="/editbus" class="btn btn-primary btn-block btn-custom btn-delete-bus">Edit Journey</button>

      <button type="button" routerLink="/showbus" class="btn btn-primary btn-block btn-custom btn-display-bus">View Journeys</button>
      <button type="button" routerLink="/reserves" class="btn btn-primary btn-block btn-custom btn-display-bus">View all reservations</button>
    </div>
  </div>
</div>